.input-wrap {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    text-align: left;

    .input {
        display: flex;
        gap: 6px;
        width: 100%;
        border: 1px solid $border;
        padding: 0px 15px 0px 10px;
        border-radius: 8px;
        background-color: $secondary_dark;
        align-items: center;

        input,
        select,
        text-area {
            border: none;
            border-radius: 0;
            padding-left: 5px;
        }
    }

    label {
        color: #fff;
    }

    .label-wrap {
        display: flex;
        flex-direction: column;
        gap: 2px;

        small {
            font-size: 0.8em;
            color: $gray;
        }
    }

    input,
    textarea,
    select {
        width: 100%;
        border: 1px solid $border;
        padding: 12px 15px;
        border-radius: 8px;
        background-color: $secondary_dark;
        outline: none;
        border: 1px solid $border;
        color: #fff;
    }

    textarea {
        max-width: 100%;
        min-height: 150px;
        resize: vertical;
    }

    small {
        color: $red;
        font-size: x-small;
    }
}

input {
    &[type='checkbox'] {
        &:checked {
            accent-color: $theme;
        }
    }
}

.checkbox-label {
    user-select: none;
    display: flex;
    gap: 10px;

    &.max-width {
        width: 100%;
    }
}

.multi-wrap {
    display: flex;
    gap: 14px;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 800px) {
        flex-direction: column;

        .nowrap {
            flex-direction: row;
        }
    }
}

.image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    border: 2px dashed $border;
    border-radius: 5px;
    padding: 20px;
    min-height: 200px;
    max-height: 640px;

    .label {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .icon {
            font-size: 5rem;
        }

        &[data-show='true'] {
            display: flex;
        }
    }

    .preview-image {
        display: none;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 8px;
        width: 100%;

        &[data-show='true'] {
            display: block;
        }
    }

    &[data-has-image='true'] {
        padding: 0;
        border: 0;
    }
}
