.popup-modal-wrap {
    display: none;
    position: fixed;
    top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    overflow-y: auto;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding: 20px 10px;

    &[style*='display: block'] {
        display: flex !important;
    }
}

.popup-modal {
    position: relative;
    max-width: 450px;
    width: 100%;
    border: 1px solid $border;
    background-color: $dark;
    border-radius: 8px;
    flex-direction: column;
    height: fit-content;
    justify-self: center;
    /* display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100; */

    &[popup-size='xs'] {
        max-width: 350px;
    }

    &[popup-size='m'] {
        max-width: 650px;
    }

    &[popup-size='l'] {
        max-width: 1000px;
    }

    &[popup-size='xl'] {
        max-width: 1500px;
    }

    &[popup-size='full'] {
        max-width: 98%;
    }

    &[style*='display: block'] {
        display: flex !important;
    }

    .popup-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        width: 100%;
        border-bottom: 1px solid $border;

        .icon {
            cursor: pointer;

            span {
                font-size: 1.2rem;
            }
        }
    }

    .popup-body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

        .info {
            display: flex;
            flex-direction: column;
            gap: 7px;
        }
    }
}
