.table-wrap {
    overflow-x: auto;
    width: 100%;
    min-height: 400px;
    max-width: 883px;

    table {
        width: 100%;
        min-width: 880px;
        border-spacing: 0 !important;
        border-collapse: collapse;
    }

    tr {
        border-width: 2px;
        border-color: $secondary_dark;
        border-style: solid;
        border-top: 0;

        &:first-child {
            border-top: 2px;
        }
    }

    th {
        text-transform: uppercase;
        background-color: $secondary_dark;

        &:first-child {
            border-top-left-radius: 8px;
        }
        &:last-child {
            border-top-right-radius: 8px;
        }
    }

    th,
    td {
        min-width: 220px;
        padding: 20px;
        vertical-align: top;

        &[data-align='center'] {
            display: flex;
            justify-content: center;
        }

        &[data-align='right'] {
            display: flex;
            justify-content: flex-end;
        }
    }

    .pagination {
        list-style-type: none;
        padding: 10px 0;
        display: inline-flex;
        justify-content: space-between;
        box-sizing: border-box;

        li {
            box-sizing: border-box;
            padding-right: 10px;

            button {
                box-sizing: border-box;
                background-color: #e2e6e6;
                padding: 8px;
                text-decoration: none;
                font-size: 12px;
                font-weight: bold;
                color: #616872;
                border-radius: 4px;
                border: none;
                outline: none;
                cursor: pointer;

                &:hover {
                    background-color: #d4dada;
                }
            }
        }

        .next,
        .prev {
            button {
                text-transform: uppercase;
                font-size: 12px;
            }
        }

        .current {
            button {
                background-color: $secondary_theme;
                color: #fff;

                &:hover {
                    background-color: $secondary_theme;
                }
            }
        }
    }
}
