@import '../../colors';
@import '../../fonts';

#event {
    .side-bar {
        border-left: 0;
    }

    .center-section {
        width: 100%;
        border-top: 0;
        border-bottom: 0;
        border: 1px solid $border;
        min-height: 100vh;
        max-width: 1020px;
        padding: 0;

        .club-event-image {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;

            .title-wrap {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: space-between;
                align-items: center;

                .button {
                    max-width: fit-content;
                }
            }

            .details-wrap {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                .detail-wrap {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    width: fit-content;
                    min-width: 200px;
                    max-width: 45%;

                    .icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        color: $secondary_theme;
                        background-color: $secondary_dark;
                        border: 1px solid $border;
                        border-radius: 6px;

                        span {
                            font-size: 1.5em;
                        }
                    }

                    .texts {
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        color: $secondary_white;
                    }
                }
            }

            .description {
                color: $secondary_white;
                word-wrap: break-word;
                white-space: pre-wrap;
            }

            .complain-note {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
        }

        .packages {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .packages-details {
                display: grid;
                grid-template-columns: 30% 30% 30%;
                gap: 15px;
            }

            .card {
                display: flex;
                width: 100%;
                min-height: 100px;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                padding: 15px;
                border-radius: 7px;
                background-color: $secondary_dark;
                border: 1px solid $theme;
            }
        }
    }
}
