@import '../../colors';
@import '../../fonts';

#events {
    .center-section {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
}
