@import '../../colors';
@import '../../fonts';

.event-dashboard {
    .buttons {
        display: flex;
        gap: 10px;
        width: fit-content;
    }
}

@import './dashboard/events';
@import './dashboard/edit-event';
@import './dashboard/sponsors';
@import './dashboard/budgets';
@import './dashboard/registrations';
@import './dashboard/announcements';
