@import '../../colors';
@import '../../fonts';

#club {
    gap: 0;

    .center-section {
        padding: 0;
        width: 100%;

        .cards {
            padding: 20px;
        }

        .gallery {
            padding: 20px;
            display: grid;
            grid-template-columns: auto auto auto;

            @media screen and (max-width: 600px) {
                grid-template-columns: auto auto;
            }

            gap: 15px;

            .gallery-image {
                border-radius: 5px;
                width: 100%;
                max-width: 190px;
            }
        }
    }
}
