@import '../../colors';
@import '../../fonts';

.club-dashboard {
    .buttons {
        display: flex;
        gap: 10px;
        width: fit-content;
    }
}

@import './dashboard/events';
@import './dashboard/members';
@import './dashboard/meetings';
@import './dashboard/community';
@import './dashboard/posts';
@import './dashboard/logs';
@import './dashboard/election';
@import './dashboard/budgets';
@import './dashboard/requests';
