#admin-dashboard-requests {
    .table-wrap {
        .status-button {
            cursor: default;

            &[data-status='PENDING'] {
                color: $yellow;
                background-color: $yellow-light;
            }
            &[data-status='PROCESSING'] {
                color: $orange;
                background-color: $orange-light;
            }
            &[data-status='APPROVED'] {
                color: $green;
                background-color: $green-light;
            }
            &[data-status='REJECTED'] {
                color: $red-2;
                background-color: $red-2-light;
            }
        }
    }
}
