/* font colors */
.cl-theme {
  color: #69e4be;
}

.cl-secondary-theme {
  color: #94d1be;
}

.cl-dark {
  color: #09090b;
}

.cl-secondary-dark {
  color: #161616;
}

.cl-red {
  color: #ff0000;
}

.cl-blue {
  color: #33abff;
}

.cl-orange {
  color: #fbae56;
}

.cl-green {
  color: #7dff7a;
}

/* background colors */
.bg-theme {
  background-color: #69e4be;
}

.bg-secondary-theme {
  background-color: #94d1be;
}

.bg-dark {
  background-color: #09090b;
}

.bg-secondary-dark {
  background-color: #161616;
}

.bg-red {
  background-color: #ff0000;
}

.f-14 {
  font-size: 0.875em;
}

.f-20 {
  font-size: 1.25em;
}

.f-24 {
  font-size: 1.5em;
}

.f-74 {
  font-size: 4.625em;
}

.lexend {
  font-family: "Lexend Peta", sans-serif;
}

.admin-dashboard .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#admin-dashboard-users .user-clubs-modal .clubs-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
#admin-dashboard-users .user-clubs-modal .clubs-section .card {
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #2d2d2d;
  cursor: pointer;
}
#admin-dashboard-users .user-clubs-modal .clubs-section .card:last-child {
  border-bottom: 0;
}
#admin-dashboard-users .user-clubs-modal .clubs-section .card .club-logo {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #2d2d2d;
  border-radius: 8px;
}
#admin-dashboard-users .user-clubs-modal .clubs-section .card .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
#admin-dashboard-users .user-clubs-modal .clubs-section .card .details .title {
  display: -webkit-box;
  max-width: 165px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#admin-dashboard-clubs .table-wrap .status-button {
  cursor: default;
}
#admin-dashboard-clubs .table-wrap .status-button[data-status=ACTIVE] {
  color: #7dff7a;
  background-color: #213021;
}
#admin-dashboard-clubs .table-wrap .status-button[data-status=DEACTIVE] {
  color: #ff4646;
  background-color: #392a2d;
}

#admin-dashboard-events .table-wrap .status-button {
  cursor: default;
}
#admin-dashboard-events .table-wrap .status-button[data-status=PENDING] {
  color: #edff7d;
  background-color: #303021;
}
#admin-dashboard-events .table-wrap .status-button[data-status=APPROVED] {
  color: #7dff7a;
  background-color: #213021;
}
#admin-dashboard-events .table-wrap .status-button[data-status=REJECTED] {
  color: #ff4646;
  background-color: #392a2d;
}

#admin-dashboard-requests .table-wrap .status-button {
  cursor: default;
}
#admin-dashboard-requests .table-wrap .status-button[data-status=PENDING] {
  color: #edff7d;
  background-color: #303021;
}
#admin-dashboard-requests .table-wrap .status-button[data-status=PROCESSING] {
  color: #fbae56;
  background-color: #342d25;
}
#admin-dashboard-requests .table-wrap .status-button[data-status=APPROVED] {
  color: #7dff7a;
  background-color: #213021;
}
#admin-dashboard-requests .table-wrap .status-button[data-status=REJECTED] {
  color: #ff4646;
  background-color: #392a2d;
}