/* font colors */
.cl-theme {
  color: #69e4be;
}

.cl-secondary-theme {
  color: #94d1be;
}

.cl-dark {
  color: #09090b;
}

.cl-secondary-dark {
  color: #161616;
}

.cl-red {
  color: #ff0000;
}

.cl-blue {
  color: #33abff;
}

.cl-orange {
  color: #ff8800;
}

.cl-green {
  color: #7dff7a;
}

/* background colors */
.bg-theme {
  background-color: #69e4be;
}

.bg-secondary-theme {
  background-color: #94d1be;
}

.bg-dark {
  background-color: #09090b;
}

.bg-secondary-dark {
  background-color: #161616;
}

.bg-red {
  background-color: #ff0000;
}

.f-14 {
  font-size: 0.875em;
}

.f-20 {
  font-size: 1.25em;
}

.f-24 {
  font-size: 1.5em;
}

.f-74 {
  font-size: 4.625em;
}

.lexend {
  font-family: "Lexend Peta", sans-serif;
}

#calendar {
  width: 100%;
}
#calendar .top-bar {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#calendar .top-bar .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.25em;
  font-weight: 600;
}
#calendar .top-bar .icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: #161616;
  border-radius: 7px;
  border: 2px solid #a5a5a5;
  cursor: pointer;
}
#calendar .top-bar .icon-wrap span {
  color: #a5a5a5;
}
#calendar table,
#calendar th,
#calendar td {
  border: 1px solid #2d2d2d;
  border-collapse: collapse;
}
#calendar .calendar-table {
  width: 100%;
  table-layout: fixed;
}
#calendar .calendar-table th {
  color: #69e4be;
}
#calendar .calendar-table th,
#calendar .calendar-table td {
  padding: 10px;
}
#calendar .calendar-table td {
  height: 110px;
}
#calendar .calendar-cell .cell-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  height: 100%;
}
#calendar .calendar-cell .cell-content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}
#calendar .calendar-cell .cell-content .content .item {
  position: relative;
  cursor: pointer;
}
#calendar .calendar-cell .cell-content .content .item .name {
  background-color: #94d1be;
  padding: 2px 4px;
  border-radius: 5px;
  color: #09090b;
  font-size: 0.875em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#calendar .calendar-cell .cell-content .content .item .pop-over {
  visibility: hidden;
  top: 0;
  right: 0;
  position: absolute;
  min-height: 100px;
  min-width: 250px;
  background-color: #213021;
  border-radius: 5px;
  opacity: 0;
  padding: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 2;
  font-size: 0.875em;
}
#calendar .calendar-cell .cell-content .content .item .pop-over .name {
  padding: 0;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1rem;
}
#calendar .calendar-cell .cell-content .content .item .pop-over .info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
#calendar .calendar-cell .cell-content .content .item .pop-over .info-wrap .icon-wrap span {
  font-size: 0.875em;
}
#calendar .calendar-cell .cell-content .content .item:hover .pop-over {
  opacity: 100%;
  visibility: visible;
}

#calendar-date {
  width: 100%;
}
#calendar-date .center-section {
  width: 100%;
}
#calendar-date .top-bar {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#calendar-date .top-bar .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.25em;
  font-weight: 600;
}
#calendar-date .top-bar .icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: #161616;
  border-radius: 7px;
  border: 2px solid #a5a5a5;
  cursor: pointer;
}
#calendar-date .top-bar .icon-wrap span {
  color: #a5a5a5;
}
#calendar-date .calendar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 20px;
}
#calendar-date .calendar-content .item {
  display: grid;
  grid-template-columns: 100px auto;
}
#calendar-date .calendar-content .item .date-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border-right: 2px solid #94d1be;
}
#calendar-date .calendar-content .item .date-section .date {
  font-weight: 600;
}
#calendar-date .calendar-content .item .content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  padding: 20px;
  border-left: 2px solid #94d1be;
}
#calendar-date .calendar-content .item .content-section .name {
  color: #94d1be;
  font-weight: 500;
}
#calendar-date .calendar-content .item .content-section .date {
  font-size: small;
  color: #a5a5a5;
}