/* font colors */
.cl-theme {
  color: #69e4be;
}

.cl-secondary-theme {
  color: #94d1be;
}

.cl-dark {
  color: #09090b;
}

.cl-secondary-dark {
  color: #161616;
}

.cl-red {
  color: #ff0000;
}

.cl-orange {
  color: #ff8800;
}

.cl-green {
  color: #7dff7a;
}

/* background colors */
.bg-theme {
  background-color: #69e4be;
}

.bg-secondary-theme {
  background-color: #94d1be;
}

.bg-dark {
  background-color: #09090b;
}

.bg-secondary-dark {
  background-color: #161616;
}

.bg-red {
  background-color: #ff0000;
}

.f-14 {
  font-size: 0.875em;
}

.f-20 {
  font-size: 1.25em;
}

.f-24 {
  font-size: 1.5em;
}

.f-74 {
  font-size: 4.625em;
}

.lexend {
  font-family: "Lexend Peta", sans-serif;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cards .club-post {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  background-color: #161616;
  border: 1px solid #2d2d2d;
  padding: 20px;
  border-radius: 12px;
}
.cards .club-post .top {
  display: flex;
  gap: 15px;
}
.cards .club-post .top .club-logo {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 8px;
}
.cards .club-post .top .details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cards .club-post .top .details .club-title {
  font-size: 1.25em;
  width: -moz-fit-content;
  width: fit-content;
}
.cards .club-post .top .details .other-details {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #94d1be;
}
.cards .club-post .top .details .other-details .dot {
  width: 6px;
  height: 6px;
  background-color: #94d1be;
  border-radius: 50%;
}
.cards .club-post .post-image {
  max-width: 560px;
  height: 560px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 6px;
}
.cards .club-post .description {
  font-size: 0.875em;
  color: #e7e7e7;
}
.cards .event-post {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  background-color: #161616;
  border: 1px solid #2d2d2d;
  padding: 20px;
  border-radius: 12px;
}
.cards .event-post .top {
  display: flex;
  gap: 15px;
}
.cards .event-post .top .club-logo {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 8px;
}
.cards .event-post .top .details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cards .event-post .top .details .club-title {
  font-size: 1.25em;
  width: -moz-fit-content;
  width: fit-content;
}
.cards .event-post .top .details .other-details {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #94d1be;
}
.cards .event-post .top .details .other-details .dot {
  width: 6px;
  height: 6px;
  background-color: #94d1be;
  border-radius: 50%;
}
.cards .event-post .post-image {
  max-width: 560px;
  height: 315px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 6px;
}
.cards .event-post .title {
  font-size: 1.25em;
  font-weight: 600;
}
.cards .event-post .description {
  font-size: 0.875em;
  color: #e7e7e7;
}
.cards .event-post .details-wrap {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 20px;
}
.cards .event-post .details-wrap .detail-wrap {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.cards .event-post .details-wrap .detail-wrap .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #94d1be;
  background-color: #161616;
  border: 1px solid #2d2d2d;
  border-radius: 6px;
}
.cards .event-post .details-wrap .detail-wrap .icon span {
  font-size: 1.5em;
}
.cards .event-post .details-wrap .detail-wrap .texts {
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: #e7e7e7;
}/*# sourceMappingURL=cards.css.map */