/* font colors */
.cl-theme {
  color: #69e4be;
}

.cl-secondary-theme {
  color: #94d1be;
}

.cl-dark {
  color: #09090b;
}

.cl-secondary-dark {
  color: #161616;
}

.cl-red {
  color: #ff0000;
}

.cl-orange {
  color: #ff8800;
}

.cl-green {
  color: #7dff7a;
}

/* background colors */
.bg-theme {
  background-color: #69e4be;
}

.bg-secondary-theme {
  background-color: #94d1be;
}

.bg-dark {
  background-color: #09090b;
}

.bg-secondary-dark {
  background-color: #161616;
}

.bg-red {
  background-color: #ff0000;
}

.f-14 {
  font-size: 0.875em;
}

.f-20 {
  font-size: 1.25em;
}

.f-24 {
  font-size: 1.5em;
}

.f-74 {
  font-size: 4.625em;
}

.lexend {
  font-family: "Lexend Peta", sans-serif;
}

.club-dashboard .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#club-dashboard-event .table-wrap .status-button {
  cursor: default;
}
#club-dashboard-event .table-wrap .status-button[data-status=PROCESSING] {
  color: #edff7d;
  background-color: #303021;
}
#club-dashboard-event .table-wrap .status-button[data-status=ACTIVE] {
  color: #7dff7a;
  background-color: #213021;
}
#club-dashboard-event .table-wrap .status-button[data-status=DEACTIVE] {
  color: #ff4646;
  background-color: #392a2d;
}

#club-dashboard-members .center-section .action-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
#club-dashboard-members .center-section .action-buttons .button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #69e4be;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
#club-dashboard-members .center-section .action-buttons .action-link[data-active=true] .button {
  background-color: #94d1be;
  color: #09090b;
}

#club-dashboard-add-meeting .selected-member-template {
  display: none;
}
#club-dashboard-add-meeting .selected-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#club-dashboard-add-meeting .selected-members .checkbox-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  border: 2px solid #2d2d2d;
  padding: 5px 10px;
  border-radius: 20px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#club-dashboard-add-meeting .selected-members .checkbox-wrap label,
#club-dashboard-add-meeting .selected-members .checkbox-wrap .material-icons-outlined {
  font-size: 0.875em;
}
#club-dashboard-add-meeting .selected-members .checkbox-wrap .material-icons-outlined {
  position: absolute;
  opacity: 0;
  right: 0;
  margin-top: 3px;
  cursor: pointer;
  color: #ff0000;
  z-index: 8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#club-dashboard-add-meeting .selected-members .checkbox-wrap:hover .material-icons-outlined {
  position: relative;
  opacity: 1;
}

#club-dashboard-community .content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
#club-dashboard-community .chat-box {
  background-color: #161616;
  height: 500px;
  padding: 10px 15px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
#club-dashboard-community .chat-box .text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
#club-dashboard-community .chat-box .text-wrap .text {
  background-color: #94d1be;
  color: #09090b;
  border-radius: 8px;
  padding: 5px 10px;
}
#club-dashboard-community .chat-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#club-dashboard-community .chat-form .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#club-dashboard-add-post .image-upload {
  max-width: 560px;
  min-height: 560px;
  -o-object-fit: contain;
     object-fit: contain;
}

#club-dashboard-logs .center-section .action-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
#club-dashboard-logs .center-section .action-buttons .button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #69e4be;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
#club-dashboard-logs .center-section .action-buttons .action-link[data-active=true] .button {
  background-color: #94d1be;
  color: #09090b;
}

#club-dashboard-election .actions-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}
#club-dashboard-election .actions-wrap .action-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
#club-dashboard-election .actions-wrap .action-buttons .button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #69e4be;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
#club-dashboard-election .actions-wrap .action-buttons .action-link[data-active=true] .button {
  background-color: #94d1be;
  color: #09090b;
}
#club-dashboard-election .table-wrap .status-button {
  color: #edff7d;
  background-color: #303021;
  cursor: default;
}
#club-dashboard-election .table-wrap .status-button[data-status=OPEN] {
  color: #7dff7a;
  background-color: #213021;
}
#club-dashboard-election .table-wrap .status-button[data-status=CLOSED] {
  color: #ff4646;
  background-color: #392a2d;
}

#club-dashboard-add-election .user-template,
#club-dashboard-edit-election .user-template {
  display: none;
}
#club-dashboard-add-election .checkbox-filters,
#club-dashboard-edit-election .checkbox-filters {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
#club-dashboard-add-election .selected-users,
#club-dashboard-edit-election .selected-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#club-dashboard-add-election .selected-users .checkbox-wrap,
#club-dashboard-edit-election .selected-users .checkbox-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  border: 2px solid #2d2d2d;
  padding: 5px 10px;
  border-radius: 20px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#club-dashboard-add-election .selected-users .checkbox-wrap label,
#club-dashboard-add-election .selected-users .checkbox-wrap .material-icons-outlined,
#club-dashboard-edit-election .selected-users .checkbox-wrap label,
#club-dashboard-edit-election .selected-users .checkbox-wrap .material-icons-outlined {
  font-size: 0.875em;
}
#club-dashboard-add-election .selected-users .checkbox-wrap .material-icons-outlined,
#club-dashboard-edit-election .selected-users .checkbox-wrap .material-icons-outlined {
  position: absolute;
  opacity: 0;
  right: 0;
  margin-top: 3px;
  cursor: pointer;
  color: #ff0000;
  z-index: 8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#club-dashboard-add-election .selected-users .checkbox-wrap:hover .material-icons-outlined,
#club-dashboard-edit-election .selected-users .checkbox-wrap:hover .material-icons-outlined {
  position: relative;
  opacity: 1;
}

#club-dashboard-election-vote .center-section .title-wrap.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#club-dashboard-election-vote .actions-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}
#club-dashboard-election-vote .actions-wrap .action-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
#club-dashboard-election-vote .actions-wrap .action-buttons .button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #69e4be;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
#club-dashboard-election-vote .actions-wrap .action-buttons .action-link[data-active=true] .button {
  background-color: #94d1be;
  color: #09090b;
}
#club-dashboard-election-vote .candidates {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap: 30px;
  min-height: 400px;
  margin-top: 20px;
}
#club-dashboard-election-vote .candidates .candidate {
  cursor: pointer;
  text-align: center;
}
#club-dashboard-election-vote .candidates .candidate .image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 7px solid #a5a5a5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#club-dashboard-election-vote .candidates .candidate input:checked ~ .image {
  border-color: #69e4be;
}

#club-dashboard-election-result .center-section .title-wrap.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#club-dashboard-election-result .actions-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}
#club-dashboard-election-result .actions-wrap .action-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
#club-dashboard-election-result .actions-wrap .action-buttons .button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #69e4be;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
#club-dashboard-election-result .actions-wrap .action-buttons .action-link[data-active=true] .button {
  background-color: #94d1be;
  color: #09090b;
}
#club-dashboard-election-result .content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
#club-dashboard-election-result .content-section .results-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  width: 100%;
}
#club-dashboard-election-result .content-section .results-content .result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#club-dashboard-election-result .content-section .results-content .result-item .user-image {
  z-index: 2;
}
#club-dashboard-election-result .content-section .results-content .result-item .user-image .image {
  border: 7px solid #94d1be;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #09090b;
}
#club-dashboard-election-result .content-section .results-content .result-item .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  width: 100%;
  position: relative;
  padding-right: 20px;
  margin-left: -50px;
  padding-left: 60px;
  min-width: 100px;
  border: 2px solid #94d1be;
  border-radius: 7px;
  overflow-x: hidden;
}
#club-dashboard-election-result .content-section .results-content .result-item .progress .progress-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  position: relative;
  z-index: 1;
}
#club-dashboard-election-result .content-section .results-content .result-item .progress .progress-bar {
  border-radius: 7px;
  background-color: #94d1be;
  margin-left: -50px;
  padding-left: 40px;
  width: 0%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  -webkit-transition: all 4s ease-out;
  transition: all 4s ease-out;
}

#club-dashboard-budget-edit .form {
  padding-top: 20px;
}
#club-dashboard-budget-edit .center-section {
  gap: 0;
}
#club-dashboard-budget-edit .budget-template,
#club-dashboard-budget-edit .budget-member-template {
  display: none;
}
#club-dashboard-budget-edit .budget-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#club-dashboard-budget-edit .budget-members .checkbox-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  border: 2px solid #2d2d2d;
  padding: 5px 10px;
  border-radius: 20px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#club-dashboard-budget-edit .budget-members .checkbox-wrap label,
#club-dashboard-budget-edit .budget-members .checkbox-wrap .material-icons-outlined {
  font-size: 0.875em;
}
#club-dashboard-budget-edit .budget-members .checkbox-wrap .material-icons-outlined {
  position: absolute;
  opacity: 0;
  right: 0;
  margin-top: 3px;
  cursor: pointer;
  color: #ff0000;
  z-index: 8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#club-dashboard-budget-edit .budget-members .checkbox-wrap:hover .material-icons-outlined {
  position: relative;
  opacity: 1;
}
#club-dashboard-budget-edit .sub-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
#club-dashboard-budget-edit .sub-section .checkboxes-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#club-dashboard-budget-edit .sub-section .checkboxes-wrap label {
  cursor: pointer;
}
#club-dashboard-budget-edit .budgets .form-section-content {
  padding-bottom: 20px;
  border-bottom: 1px solid #2d2d2d;
}
#club-dashboard-budget-edit .budgets .form-section-content:last-child {
  border-bottom: 0;
}
#club-dashboard-budget-edit .budgets .form-section-buttons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#club-dashboard-budget-edit .budgets .created-budgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
#club-dashboard-budget-edit .budgets .created-budgets .created-budget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  border-top: 1px solid #2d2d2d;
  padding-top: 10px;
}
#club-dashboard-budget-edit .budgets .created-budgets .created-budget .budget-content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
#club-dashboard-budget-edit .buttons-wrap {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#club-dashboard-budget-edit .buttons-wrap .button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

#club-dashboard-requests .table-wrap .status-button {
  cursor: default;
}
#club-dashboard-requests .table-wrap .status-button[data-status=PENDING] {
  color: #edff7d;
  background-color: #303021;
}
#club-dashboard-requests .table-wrap .status-button[data-status=APPROVED] {
  color: #7dff7a;
  background-color: #213021;
}
#club-dashboard-requests .table-wrap .status-button[data-status=REJECTED] {
  color: #ff4646;
  background-color: #392a2d;
}