/* font colors */
.cl-theme {
  color: #69e4be;
}

.cl-secondary-theme {
  color: #94d1be;
}

.cl-dark {
  color: #09090b;
}

.cl-secondary-dark {
  color: #161616;
}

.cl-red {
  color: #ff0000;
}

.cl-orange {
  color: #ff8800;
}

/* background colors */
.bg-theme {
  background-color: #69e4be;
}

.bg-secondary-theme {
  background-color: #94d1be;
}

.bg-dark {
  background-color: #09090b;
}

.bg-secondary-dark {
  background-color: #161616;
}

.bg-red {
  background-color: #ff0000;
}

.f-14 {
  font-size: 0.875em;
}

.f-20 {
  font-size: 1.25em;
}

.f-24 {
  font-size: 1.5em;
}

.f-74 {
  font-size: 4.625em;
}

.lexend {
  font-family: "Lexend Peta", sans-serif;
}

#event-dashboard-event-add .center-section,
#event-dashboard-event-edit .center-section {
  gap: 0;
}
#event-dashboard-event-add .group-template,
#event-dashboard-event-add .group-member-template,
#event-dashboard-event-edit .group-template,
#event-dashboard-event-edit .group-member-template {
  display: none;
}
#event-dashboard-event-add .group-members,
#event-dashboard-event-edit .group-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#event-dashboard-event-add .group-members .checkbox-wrap,
#event-dashboard-event-edit .group-members .checkbox-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  border: 2px solid #2d2d2d;
  padding: 5px 10px;
  border-radius: 20px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#event-dashboard-event-add .group-members .checkbox-wrap label,
#event-dashboard-event-add .group-members .checkbox-wrap .material-icons-outlined,
#event-dashboard-event-edit .group-members .checkbox-wrap label,
#event-dashboard-event-edit .group-members .checkbox-wrap .material-icons-outlined {
  font-size: 0.875em;
}
#event-dashboard-event-add .group-members .checkbox-wrap .material-icons-outlined,
#event-dashboard-event-edit .group-members .checkbox-wrap .material-icons-outlined {
  position: absolute;
  opacity: 0;
  right: 0;
  margin-top: 3px;
  cursor: pointer;
  color: #ff0000;
  z-index: 8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#event-dashboard-event-add .group-members .checkbox-wrap:hover .material-icons-outlined,
#event-dashboard-event-edit .group-members .checkbox-wrap:hover .material-icons-outlined {
  position: relative;
  opacity: 1;
}
#event-dashboard-event-add .sub-section,
#event-dashboard-event-edit .sub-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
#event-dashboard-event-add .sub-section .checkboxes-wrap,
#event-dashboard-event-edit .sub-section .checkboxes-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#event-dashboard-event-add .sub-section .checkboxes-wrap label,
#event-dashboard-event-edit .sub-section .checkboxes-wrap label {
  cursor: pointer;
}
#event-dashboard-event-add .groups .form-section-content,
#event-dashboard-event-edit .groups .form-section-content {
  padding-bottom: 20px;
  border-bottom: 1px solid #2d2d2d;
}
#event-dashboard-event-add .groups .form-section-content:last-child,
#event-dashboard-event-edit .groups .form-section-content:last-child {
  border-bottom: 0;
}
#event-dashboard-event-add .groups .form-section-buttons-wrap,
#event-dashboard-event-edit .groups .form-section-buttons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#event-dashboard-event-add .groups .created-groups,
#event-dashboard-event-edit .groups .created-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
#event-dashboard-event-add .groups .created-groups .created-group,
#event-dashboard-event-edit .groups .created-groups .created-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  border-top: 1px solid #2d2d2d;
  padding-top: 10px;
}
#event-dashboard-event-add .groups .created-groups .created-group .group-content-section,
#event-dashboard-event-edit .groups .created-groups .created-group .group-content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
#event-dashboard-event-add .buttons-wrap,
#event-dashboard-event-edit .buttons-wrap {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#event-dashboard-event-add .buttons-wrap .button,
#event-dashboard-event-edit .buttons-wrap .button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

#event-dashboard-sponsors .table-wrap .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
#event-dashboard-sponsors .table-wrap .status-button {
  cursor: default;
}
#event-dashboard-sponsors .table-wrap .status-button[data-status=PENDING] {
  color: #edff7d;
  background-color: #303021;
}
#event-dashboard-sponsors .table-wrap .status-button[data-status=APPROVED] {
  color: #7dff7a;
  background-color: #213021;
}
#event-dashboard-sponsors .table-wrap .status-button[data-status=REJECTED] {
  color: #ff4646;
  background-color: #392a2d;
}