/* font colors */
.cl-theme {
  color: #69e4be;
}

.cl-secondary-theme {
  color: #94d1be;
}

.cl-dark {
  color: #09090b;
}

.cl-secondary-dark {
  color: #161616;
}

.cl-red {
  color: #ff0000;
}

.cl-orange {
  color: #ff8800;
}

.cl-green {
  color: #7dff7a;
}

/* background colors */
.bg-theme {
  background-color: #69e4be;
}

.bg-secondary-theme {
  background-color: #94d1be;
}

.bg-dark {
  background-color: #09090b;
}

.bg-secondary-dark {
  background-color: #161616;
}

.bg-red {
  background-color: #ff0000;
}

.f-14 {
  font-size: 0.875em;
}

.f-20 {
  font-size: 1.25em;
}

.f-24 {
  font-size: 1.5em;
}

.f-74 {
  font-size: 4.625em;
}

.lexend {
  font-family: "Lexend Peta", sans-serif;
}

.event-dashboard .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

#event-dashboard-event-add .center-section,
#event-dashboard-event-edit .center-section {
  gap: 0;
}
#event-dashboard-event-add .group-template,
#event-dashboard-event-add .group-member-template,
#event-dashboard-event-edit .group-template,
#event-dashboard-event-edit .group-member-template {
  display: none;
}
#event-dashboard-event-add .group-members,
#event-dashboard-event-edit .group-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#event-dashboard-event-add .group-members .checkbox-wrap,
#event-dashboard-event-edit .group-members .checkbox-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  border: 2px solid #2d2d2d;
  padding: 5px 10px;
  border-radius: 20px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#event-dashboard-event-add .group-members .checkbox-wrap label,
#event-dashboard-event-add .group-members .checkbox-wrap .material-icons-outlined,
#event-dashboard-event-edit .group-members .checkbox-wrap label,
#event-dashboard-event-edit .group-members .checkbox-wrap .material-icons-outlined {
  font-size: 0.875em;
}
#event-dashboard-event-add .group-members .checkbox-wrap .material-icons-outlined,
#event-dashboard-event-edit .group-members .checkbox-wrap .material-icons-outlined {
  position: absolute;
  opacity: 0;
  right: 0;
  margin-top: 3px;
  cursor: pointer;
  color: #ff0000;
  z-index: 8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#event-dashboard-event-add .group-members .checkbox-wrap:hover .material-icons-outlined,
#event-dashboard-event-edit .group-members .checkbox-wrap:hover .material-icons-outlined {
  position: relative;
  opacity: 1;
}
#event-dashboard-event-add .sub-section,
#event-dashboard-event-edit .sub-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
#event-dashboard-event-add .sub-section .checkboxes-wrap,
#event-dashboard-event-edit .sub-section .checkboxes-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#event-dashboard-event-add .sub-section .checkboxes-wrap label,
#event-dashboard-event-edit .sub-section .checkboxes-wrap label {
  cursor: pointer;
}
#event-dashboard-event-add .groups .form-section-content,
#event-dashboard-event-edit .groups .form-section-content {
  padding-bottom: 20px;
  border-bottom: 1px solid #2d2d2d;
}
#event-dashboard-event-add .groups .form-section-content:last-child,
#event-dashboard-event-edit .groups .form-section-content:last-child {
  border-bottom: 0;
}
#event-dashboard-event-add .groups .form-section-buttons-wrap,
#event-dashboard-event-edit .groups .form-section-buttons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#event-dashboard-event-add .groups .created-groups,
#event-dashboard-event-edit .groups .created-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
#event-dashboard-event-add .groups .created-groups .created-group,
#event-dashboard-event-edit .groups .created-groups .created-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  border-top: 1px solid #2d2d2d;
  padding-top: 10px;
}
#event-dashboard-event-add .groups .created-groups .created-group .group-content-section,
#event-dashboard-event-edit .groups .created-groups .created-group .group-content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
#event-dashboard-event-add .buttons-wrap,
#event-dashboard-event-edit .buttons-wrap {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#event-dashboard-event-add .buttons-wrap .button,
#event-dashboard-event-edit .buttons-wrap .button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

#event-dashboard-sponsors .table-wrap .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
#event-dashboard-sponsors .table-wrap .status-button {
  cursor: default;
}
#event-dashboard-sponsors .table-wrap .status-button[data-status=PENDING] {
  color: #edff7d;
  background-color: #303021;
}
#event-dashboard-sponsors .table-wrap .status-button[data-status=APPROVED] {
  color: #7dff7a;
  background-color: #213021;
}
#event-dashboard-sponsors .table-wrap .status-button[data-status=REJECTED] {
  color: #ff4646;
  background-color: #392a2d;
}

#event-dashboard-budgets .summary-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
#event-dashboard-budgets .summary-section .cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 280px));
  gap: 20px;
  row-gap: 20px;
  border-bottom: 1px solid #2d2d2d;
  padding-bottom: 20px;
}
#event-dashboard-budgets .summary-section .cards-section .summary-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #2d2d2d;
  background: linear-gradient(101deg, #09090b 0%, #2c2c31 100%);
  max-width: 312px;
  min-height: 137px;
}
#event-dashboard-budgets .summary-section .cards-section .summary-card .top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
#event-dashboard-budgets .summary-section .cards-section .summary-card .amount {
  width: 100%;
  text-align: right;
  font-size: 1.5em;
  font-weight: 500;
}
#event-dashboard-budgets .summary-section .cards-section .summary-card .amount.green {
  color: #69e4be;
}
#event-dashboard-budgets .summary-section .cards-section .summary-card .amount.red {
  color: #ec3232;
}
#event-dashboard-budgets .content-section .actions-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}
#event-dashboard-budgets .content-section .actions-wrap .action-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
#event-dashboard-budgets .content-section .actions-wrap .action-buttons .button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #69e4be;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
#event-dashboard-budgets .content-section .actions-wrap .action-buttons .action-link[data-active=true] .button {
  background-color: #94d1be;
  color: #09090b;
}
#event-dashboard-budgets .content-section .actions-wrap .action-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 470px;
}
#event-dashboard-budgets .content-section .actions-wrap .action-search .search-input {
  max-width: 350px;
}
@media screen and (max-width: 770px) {
  #event-dashboard-budgets .content-section .actions-wrap .action-search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 100%;
  }
  #event-dashboard-budgets .content-section .actions-wrap .action-search .search-input {
    max-width: 100%;
  }
}

#event-dashboard-registrations .table-wrap .status-button {
  color: #edff7d;
  background-color: #303021;
  cursor: default;
}
#event-dashboard-registrations .table-wrap .status-button[data-attended=true] {
  color: #7dff7a;
  background-color: #213021;
}