/* font colors */
.cl-theme {
  color: #69e4be;
}

.cl-secondary-theme {
  color: #94d1be;
}

.cl-dark {
  color: #09090b;
}

.cl-secondary-dark {
  color: #161616;
}

.cl-red {
  color: #ff0000;
}

.cl-blue {
  color: #33abff;
}

.cl-orange {
  color: #fbae56;
}

.cl-green {
  color: #7dff7a;
}

/* background colors */
.bg-theme {
  background-color: #69e4be;
}

.bg-secondary-theme {
  background-color: #94d1be;
}

.bg-dark {
  background-color: #09090b;
}

.bg-secondary-dark {
  background-color: #161616;
}

.bg-red {
  background-color: #ff0000;
}

.f-14 {
  font-size: 0.875em;
}

.f-20 {
  font-size: 1.25em;
}

.f-24 {
  font-size: 1.5em;
}

.f-74 {
  font-size: 4.625em;
}

.lexend {
  font-family: "Lexend Peta", sans-serif;
}

#event .side-bar {
  border-left: 0;
}
#event .center-section {
  width: 100%;
  border-top: 0;
  border-bottom: 0;
  border: 1px solid #2d2d2d;
  min-height: 100vh;
  max-width: 1020px;
  padding: 0;
}
#event .center-section .club-event-image {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
#event .center-section .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 20px;
}
#event .center-section .content .title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#event .center-section .content .title-wrap .button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
#event .center-section .content .details-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
#event .center-section .content .details-wrap .detail-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 200px;
  max-width: 45%;
}
#event .center-section .content .details-wrap .detail-wrap .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  color: #94d1be;
  background-color: #161616;
  border: 1px solid #2d2d2d;
  border-radius: 6px;
}
#event .center-section .content .details-wrap .detail-wrap .icon span {
  font-size: 1.5em;
}
#event .center-section .content .details-wrap .detail-wrap .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  color: #e7e7e7;
}
#event .center-section .content .description {
  color: #e7e7e7;
}