.cl-theme {
  color: #69e4be;
}

.cl-secondary-theme {
  color: #94d1be;
}

.cl-dark {
  color: #09090b;
}

.cl-secondary-dark {
  color: #161616;
}

.cl-red {
  color: #ff0000;
}

.bg-theme {
  background-color: #69e4be;
}

.bg-secondary-theme {
  background-color: #94d1be;
}

.bg-dark {
  background-color: #09090b;
}

.bg-secondary-dark {
  background-color: #161616;
}

.bg-red {
  background-color: #ff0000;
}

.f-14 {
  font-size: 0.875em;
}

.f-20 {
  font-size: 1.25em;
}

.f-24 {
  font-size: 1.5em;
}

.f-74 {
  font-size: 4.625em;
}

.lexend {
  font-family: "Lexend Peta", sans-serif;
}

#events .center-section {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 100%;
}