/* font colors */
.cl-theme {
  color: #69e4be;
}

.cl-secondary-theme {
  color: #94d1be;
}

.cl-dark {
  color: #09090b;
}

.cl-secondary-dark {
  color: #161616;
}

.cl-red {
  color: #ff0000;
}

.cl-orange {
  color: #ff8800;
}

/* background colors */
.bg-theme {
  background-color: #69e4be;
}

.bg-secondary-theme {
  background-color: #94d1be;
}

.bg-dark {
  background-color: #09090b;
}

.bg-secondary-dark {
  background-color: #161616;
}

.bg-red {
  background-color: #ff0000;
}

.f-14 {
  font-size: 0.875em;
}

.f-20 {
  font-size: 1.25em;
}

.f-24 {
  font-size: 1.5em;
}

.f-74 {
  font-size: 4.625em;
}

.lexend {
  font-family: "Lexend Peta", sans-serif;
}

.event-dashboard .center-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 100%;
  border-top: 0;
  border-bottom: 0;
  border: 1px solid #2d2d2d;
  min-height: 100vh;
}
.event-dashboard .center-section .title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.event-dashboard .center-section .title-bar .title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.event-dashboard .center-section .title-bar .title-wrap .title {
  font-size: 1.5em;
}
.event-dashboard .center-section .title-bar .title-wrap .button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.event-dashboard .center-section .title-bar .search-input {
  max-width: 350px;
}

#club-dashboard-event .table-wrap .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
#club-dashboard-event .table-wrap .status-button {
  cursor: default;
}
#club-dashboard-event .table-wrap .status-button[data-status=PENDING] {
  color: #edff7d;
  background-color: #303021;
}
#club-dashboard-event .table-wrap .status-button[data-status=APPROVED] {
  color: #7dff7a;
  background-color: #213021;
}
#club-dashboard-event .table-wrap .status-button[data-status=REJECTED] {
  color: #ff4646;
  background-color: #392a2d;
}

#event-dashboard-sponsors .table-wrap .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
#event-dashboard-sponsors .table-wrap .status-button {
  cursor: default;
}
#event-dashboard-sponsors .table-wrap .status-button[data-status=PENDING] {
  color: #edff7d;
  background-color: #303021;
}
#event-dashboard-sponsors .table-wrap .status-button[data-status=APPROVED] {
  color: #7dff7a;
  background-color: #213021;
}
#event-dashboard-sponsors .table-wrap .status-button[data-status=REJECTED] {
  color: #ff4646;
  background-color: #392a2d;
}

.table-align{
  text-align: center;
}