/* font colors */
.cl-theme {
  color: #69e4be;
}

.cl-secondary-theme {
  color: #94d1be;
}

.cl-dark {
  color: #09090b;
}

.cl-secondary-dark {
  color: #161616;
}

.cl-red {
  color: #ff0000;
}

.cl-orange {
  color: #ff8800;
}

.cl-green {
  color: #7dff7a;
}

/* background colors */
.bg-theme {
  background-color: #69e4be;
}

.bg-secondary-theme {
  background-color: #94d1be;
}

.bg-dark {
  background-color: #09090b;
}

.bg-secondary-dark {
  background-color: #161616;
}

.bg-red {
  background-color: #ff0000;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #2d2d2d;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #09090b;
  z-index: 10;
}
.nav-header.bottom {
  top: auto;
  bottom: 0;
  display: none;
}
.nav-header.bottom .container-sections {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-header .container-sections {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.nav-header .container-sections .logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}
.nav-header .container-sections .center-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  width: 100%;
  border: 0;
  padding-bottom: 0;
}
.nav-header .container-sections .notification-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.nav-header .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  max-width: 160px;
  width: 100%;
  padding: 15px 0;
}
.nav-header .nav-item[data-active=true] {
  color: #69e4be;
  border-bottom: 2px solid #69e4be;
}
@media screen and (max-width: 960px) {
  .nav-header .nav-item .text {
    display: none;
  }
}
.nav-header .notification-item .icon-wrap {
  position: relative;
}
.nav-header .notification-item .icon-wrap .active {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #69e4be;
  border-radius: 50%;
  top: 0;
  right: 0;
}
.nav-header .menu-item {
  display: none;
  cursor: pointer;
  max-width: 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 1350px) {
  .nav-header .notification-item {
    display: none;
  }
  .nav-header .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 960px) {
  .nav-header.bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-header:not(.bottom) .container-sections {
    padding: 0 30px;
  }
  .nav-header:not(.bottom) .container-sections .center-section {
    display: none;
  }
}

.side-menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  position: fixed;
  height: 100vh;
  max-width: 350px;
  width: 100vw;
  right: 0;
  top: 0;
  background-color: #09090b;
  padding-top: 125px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateX(360px);
          transform: translateX(360px);
}
.side-menu[data-active=true] {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
.side-menu .right-section {
  display: none;
}
@media screen and (max-width: 920px) {
  .side-menu {
    padding-bottom: 125px;
  }
  .side-menu .right-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}