/* font colors */
.cl-theme {
  color: #69e4be;
}

.cl-secondary-theme {
  color: #94d1be;
}

.cl-dark {
  color: #09090b;
}

.cl-secondary-dark {
  color: #161616;
}

.cl-red {
  color: #ff0000;
}

.cl-orange {
  color: #ff8800;
}

/* background colors */
.bg-theme {
  background-color: #69e4be;
}

.bg-secondary-theme {
  background-color: #94d1be;
}

.bg-dark {
  background-color: #09090b;
}

.bg-secondary-dark {
  background-color: #161616;
}

.bg-red {
  background-color: #ff0000;
}

.f-14 {
  font-size: 0.875em;
}

.f-20 {
  font-size: 1.25em;
}

.f-24 {
  font-size: 1.5em;
}

.f-74 {
  font-size: 4.625em;
}

.lexend {
  font-family: "Lexend Peta", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background: #09090b;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.container-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1350px;
  width: 100%;
  padding: 0 50px;
}
.container-sections section {
  width: 100%;
  max-width: 325px;
}
.container-sections section.center-section {
  width: 100%;
  max-width: 560px;
  border-left: 1px;
  border-right: 1px;
  border-top: 0;
  border-bottom: 0;
  border-style: solid;
  border-color: #2d2d2d;
  padding: 20px;
}
.container-sections section.center-section.no-padding {
  padding: 0;
}
.container-sections.dashboard-container section.center-section {
  max-width: 1020px;
}

.container {
  width: 100%;
}

.full-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.truncate-text.lines-2 {
  -webkit-line-clamp: 2;
}
.truncate-text.lines-3 {
  -webkit-line-clamp: 3;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.tabs .tab {
  text-align: center;
  width: 100%;
  padding: 16px 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
  border: 1px solid #2d2d2d;
  border-top: 0;
}
.tabs .tab:first-child {
  border-left: 0;
}
.tabs .tab:last-child {
  border-right: 0;
}
.tabs .tab[data-active=true] {
  border-bottom: 2px solid #69e4be;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-color: #69e4be;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  transform: translateX(16px);
}
.switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #69e4be;
          box-shadow: 0 0 1px #69e4be;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 30px;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #09090b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  width: 100%;
  text-align: left;
}
.input-wrap .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  width: 100%;
  border: 1px solid #2d2d2d;
  padding: 0px 15px 0px 10px;
  border-radius: 8px;
  background-color: #161616;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.input-wrap .input input,
.input-wrap .input select,
.input-wrap .input text-area {
  border: none;
  border-radius: 0;
  padding-left: 5px;
}
.input-wrap label {
  color: #fff;
}
.input-wrap .label-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}
.input-wrap .label-wrap small {
  font-size: 0.8em;
  color: #a5a5a5;
}
.input-wrap input,
.input-wrap textarea,
.input-wrap select {
  width: 100%;
  border: 1px solid #2d2d2d;
  padding: 12px 15px;
  border-radius: 8px;
  background-color: #161616;
  outline: none;
  border: 1px solid #2d2d2d;
  color: #fff;
}
.input-wrap textarea {
  max-width: 100%;
  min-height: 150px;
  resize: vertical;
}
.input-wrap small {
  color: #ff0000;
  font-size: x-small;
}

input[type=checkbox]:checked {
  accent-color: #69e4be;
}

.checkbox-label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.multi-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .multi-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .multi-wrap .nowrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.image-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  cursor: pointer;
  border: 2px dashed #2d2d2d;
  border-radius: 5px;
  padding: 20px;
  min-height: 200px;
  max-height: 640px;
}
.image-upload .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.image-upload .label .icon {
  font-size: 5rem;
}
.image-upload .preview-image {
  display: none;
  max-width: 100%;
}
.image-upload.no-border {
  padding: 0;
  border: 0;
}

.button {
  position: relative;
  text-transform: uppercase;
  color: #161616;
  background-color: #69e4be;
  outline: none;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  padding: 11px 30px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  /* variants */
  /* types */
  /* sizes */
}
.button.w-content {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.button:disabled {
  background-color: #a5a5a5;
  color: #969696;
  cursor: not-allowed;
}
.button[data-loading=true] {
  cursor: wait;
}
.button[data-loading=true]::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  -webkit-animation: button-loading-spinner 1s ease infinite;
          animation: button-loading-spinner 1s ease infinite;
}
.button[data-variant=outlined] {
  background-color: #09090b;
  border-color: #69e4be;
  color: #fff;
}
.button[data-type=icon] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button[data-size=small] {
  padding: 6px 16px;
}

.icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
}
.icon-button span {
  border-radius: 50%;
}
.icon-button:disabled {
  color: #969696;
  cursor: not-allowed;
}

@-webkit-keyframes button-loading-spinner {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes button-loading-spinner {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
.table-wrap {
  overflow-x: auto;
  width: 100%;
  min-height: 400px;
}
.table-wrap table {
  width: 100%;
  min-width: 750px;
  border-spacing: 0 !important;
  border-collapse: collapse;
}
.table-wrap tr {
  border-width: 2px;
  border-color: #161616;
  border-style: solid;
  border-top: 0;
}
.table-wrap tr:first-child {
  border-top: 2px;
}
.table-wrap th {
  text-transform: uppercase;
  background-color: #161616;
}
.table-wrap th:first-child {
  border-top-left-radius: 8px;
}
.table-wrap th:last-child {
  border-top-right-radius: 8px;
}
.table-wrap th,
.table-wrap td {
  padding: 20px;
}
.table-wrap th[data-align=center],
.table-wrap td[data-align=center] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.table-wrap th[data-align=right],
.table-wrap td[data-align=right] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 100%;
}
.form input {
  color-scheme: dark;
}
.form .form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  border-bottom: 1px solid #2d2d2d;
  padding: 20px;
}
.form .form-section:first-child {
  padding-top: 0;
}
.form .form-section .form-section-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form .form-section .form-section-title-wrap .button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.form .form-section .form-section-title {
  font-size: 1.25em;
}
.form .form-section .form-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.popup-modal {
  display: none;
  position: fixed;
  max-width: 450px;
  width: 100%;
  border: 1px solid #2d2d2d;
  background-color: #09090b;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
}
.popup-modal[popup-size=xs] {
  max-width: 350px;
}
.popup-modal[popup-size=m] {
  max-width: 650px;
}
.popup-modal[popup-size=l] {
  max-width: 1000px;
}
.popup-modal[popup-size=xl] {
  max-width: 1500px;
}
.popup-modal[popup-size=full] {
  max-width: 98%;
}
.popup-modal[style*="display: block"] {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.popup-modal .popup-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #2d2d2d;
}
.popup-modal .popup-header .icon {
  cursor: pointer;
}
.popup-modal .popup-header .icon span {
  font-size: 1.2rem;
}
.popup-modal .popup-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 20px;
}