.cl-theme {
  color: #69e4be;
}

.cl-secondary-theme {
  color: #94d1be;
}

.cl-dark {
  color: #09090b;
}

.cl-secondary-dark {
  color: #161616;
}

.cl-red {
  color: #ff0000;
}

.bg-theme {
  background-color: #69e4be;
}

.bg-secondary-theme {
  background-color: #94d1be;
}

.bg-dark {
  background-color: #09090b;
}

.bg-secondary-dark {
  background-color: #161616;
}

.bg-red {
  background-color: #ff0000;
}

.f-14 {
  font-size: 0.875em;
}

.f-20 {
  font-size: 1.25em;
}

.f-24 {
  font-size: 1.5em;
}

.f-74 {
  font-size: 4.625em;
}

.lexend {
  font-family: "Lexend Peta", sans-serif;
}

#profile {
  gap: 0;
}
#profile .center-section {
  padding: 0;
  width: 100%;
}
#profile .center-section .cards {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
#profile .center-section .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  width: 100%;
  background-color: #161616;
  border: 1px solid #2d2d2d;
  padding: 20px;
  border-radius: 12px;
}
#profile .center-section .cards .card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
#profile .center-section .cards .card .top .club-logo {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 8px;
}
#profile .center-section .cards .card .top .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
#profile .center-section .cards .card .top .details .club-title {
  font-size: 1.25em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#profile .center-section .cards .card .top .details .other-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #94d1be;
}
#profile .center-section .cards .card .top .details .other-details .dot {
  width: 6px;
  height: 6px;
  background-color: #94d1be;
  border-radius: 50%;
}
#profile .center-section .cards .card .post-image {
  max-width: 560px;
  height: 560px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 6px;
}
#profile .center-section .cards .card .description {
  font-size: 0.875em;
  color: #e7e7e7;
}
#profile .center-section .gallery {
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}
@media screen and (max-width: 600px) {
  #profile .center-section .gallery {
    grid-template-columns: auto auto;
  }
}
#profile .center-section .gallery .gallery-image {
  border-radius: 5px;
  width: 100%;
  max-width: 190px;
}