/* font colors */
.cl-theme {
  color: #69e4be;
}

.cl-secondary-theme {
  color: #94d1be;
}

.cl-dark {
  color: #09090b;
}

.cl-secondary-dark {
  color: #161616;
}

.cl-red {
  color: #ff0000;
}

.cl-orange {
  color: #ff8800;
}

.cl-green {
  color: #7dff7a;
}

/* background colors */
.bg-theme {
  background-color: #69e4be;
}

.bg-secondary-theme {
  background-color: #94d1be;
}

.bg-dark {
  background-color: #09090b;
}

.bg-secondary-dark {
  background-color: #161616;
}

.bg-red {
  background-color: #ff0000;
}

.scroll-loader-wrap {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.scroll-loader-wrap[data-active=true] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.scroll-loader-wrap .scroll-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.scroll-loader-wrap .scroll-loader div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #69e4be;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.scroll-loader-wrap .scroll-loader div:nth-child(1) {
  left: 8px;
  -webkit-animation: ellipsis1 0.6s infinite;
          animation: ellipsis1 0.6s infinite;
}
.scroll-loader-wrap .scroll-loader div:nth-child(2) {
  left: 8px;
  -webkit-animation: ellipsis2 0.6s infinite;
          animation: ellipsis2 0.6s infinite;
}
.scroll-loader-wrap .scroll-loader div:nth-child(3) {
  left: 32px;
  -webkit-animation: ellipsis2 0.6s infinite;
          animation: ellipsis2 0.6s infinite;
}
.scroll-loader-wrap .scroll-loader div:nth-child(4) {
  left: 56px;
  -webkit-animation: ellipsis3 0.6s infinite;
          animation: ellipsis3 0.6s infinite;
}

@-webkit-keyframes ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
@keyframes ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}