/* font colors */
.cl-theme {
  color: #69e4be;
}

.cl-secondary-theme {
  color: #94d1be;
}

.cl-dark {
  color: #09090b;
}

.cl-secondary-dark {
  color: #161616;
}

.cl-red {
  color: #ff0000;
}

.cl-blue {
  color: #33abff;
}

.cl-orange {
  color: #fbae56;
}

.cl-green {
  color: #7dff7a;
}

/* background colors */
.bg-theme {
  background-color: #69e4be;
}

.bg-secondary-theme {
  background-color: #94d1be;
}

.bg-dark {
  background-color: #09090b;
}

.bg-secondary-dark {
  background-color: #161616;
}

.bg-red {
  background-color: #ff0000;
}

.f-14 {
  font-size: 0.875em;
}

.f-20 {
  font-size: 1.25em;
}

.f-24 {
  font-size: 1.5em;
}

.f-74 {
  font-size: 4.625em;
}

.lexend {
  font-family: "Lexend Peta", sans-serif;
}

.side-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  border-left: 1px;
  border-right: 1px;
  border-top: 0;
  border-bottom: 0;
  border-color: #2d2d2d;
  border-style: solid;
  min-height: 100vh;
  padding: 12px 0;
  min-width: 325px;
}
.side-bar.right {
  max-width: 345px;
}
.side-bar .inner-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding: 15px;
  border-bottom: 1px solid #2d2d2d;
}
.side-bar .inner-section.no-border {
  border: 0;
}
.side-bar .inner-section .title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #a5a5a5;
  font-size: 1.25em;
}
.side-bar .inner-section .filter-checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.side-bar .inner-section .filter-checkboxes .checkbox-wrap {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 5px 15px;
  border: 1px solid #fff;
  border-radius: 38px;
  cursor: pointer;
  font-size: 0.875em;
  font-weight: 500;
}
.side-bar .inner-section .filter-checkboxes .checkbox-wrap[data-active=true] {
  border-color: #94d1be;
  background-color: #94d1be;
  color: #09090b;
}
.side-bar .in-numbers-section .title-wrap {
  display: block;
  text-align: center;
}
.side-bar .in-numbers-section .title-wrap .lexend {
  font-weight: 600;
}
.side-bar .in-numbers-section .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.side-bar .in-numbers-section .boxes .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  background-color: #161616;
  border: 1px solid #2d2d2d;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  max-width: 100px;
  width: 100%;
}
.side-bar .in-numbers-section .boxes .box .num {
  font-weight: 600;
}
.side-bar .in-numbers-section .boxes .box .text {
  font-size: 1em;
}
.side-bar .events-section .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.side-bar .events-section .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  background-color: #161616;
  border: 1px solid #2d2d2d;
  border-radius: 8px;
  padding: 10px;
}
.side-bar .events-section .cards .card .post-image {
  width: 100%;
  height: 100px;
  max-width: 100px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.side-bar .events-section .cards .card .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}
.side-bar .events-section .cards .card .details .date-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #94d1be;
  font-size: 0.75em;
}
.side-bar .events-section .cards .card .details .club {
  color: #a5a5a5;
}
.side-bar .empty-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 20px;
}
.side-bar .empty-content .titles {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.side-bar .empty-content .titles .title {
  color: #fff;
}
.side-bar .empty-content .titles .sub-title {
  font-size: 0.875em;
  color: #a5a5a5;
}

@media screen and (max-width: 1350px) {
  .side-bar.right {
    display: none;
  }
}
@media screen and (max-width: 920px) {
  .side-bar {
    display: none;
  }
}
.profile-side-bar .options-section .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px;
  gap: 10px;
}
.profile-side-bar .options-section .menu .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px;
  border: 1px solid #2d2d2d;
  background-color: #161616;
  border-radius: 7px;
}
.profile-side-bar .options-section .menu .item.logout {
  cursor: pointer;
  width: 100%;
}
.profile-side-bar .options-section .menu .item[data-active=true] {
  border-color: #69e4be;
}
.profile-side-bar .options-section .menu .item .icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  color: #fff;
  background-color: #09090b;
  border-radius: 5px;
}
.profile-side-bar .options-section .menu .item .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.profile-side-bar .options-section .menu .item .details .title {
  display: -webkit-box;
  max-width: 165px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.profile-side-bar .profile-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
.profile-side-bar .profile-section .image {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #2d2d2d;
  border-radius: 10px;
}
.profile-side-bar .profile-section .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.profile-side-bar .profile-section .details .name {
  font-weight: 600;
}
.profile-side-bar .profile-section .details .desc {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.875em;
  color: #e7e7e7;
}
.profile-side-bar.right .clubs-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0;
}
.profile-side-bar.right .clubs-section .cards {
  gap: 0;
}
.profile-side-bar.right .clubs-section .title-wrap {
  border-top: 1px solid #2d2d2d;
  padding: 15px;
  padding-bottom: 0;
}
.profile-side-bar.right .clubs-section .card {
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border: 1px solid #2d2d2d;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
}
.profile-side-bar.right .clubs-section .card .club-logo {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #2d2d2d;
  border-radius: 8px;
}
.profile-side-bar.right .clubs-section .card .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.profile-side-bar.right .clubs-section .card .details .title {
  display: -webkit-box;
  max-width: 165px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.club-side-bar .profile-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.club-side-bar .profile-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
.club-side-bar .profile-details .image {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #2d2d2d;
  border-radius: 10px;
}
.club-side-bar .profile-details .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.club-side-bar .profile-details .details .name {
  font-weight: 600;
}
.club-side-bar .profile-details .details .desc {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.875em;
  color: #e7e7e7;
}
.club-side-bar.right .clubs-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0;
}
.club-side-bar.right .clubs-section .cards {
  gap: 0;
}
.club-side-bar.right .clubs-section .title-wrap {
  border-top: 1px solid #2d2d2d;
  padding: 15px;
  padding-bottom: 0;
}
.club-side-bar.right .clubs-section .title-wrap:first-child {
  padding-top: 0;
  border-top: 0;
}
.club-side-bar.right .clubs-section .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border: 1px solid #2d2d2d;
  border-left: 0;
  border-right: 0;
}
.club-side-bar.right .clubs-section .card .profile-image {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #2d2d2d;
  border-radius: 8px;
}
.club-side-bar.right .clubs-section .card .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.club-side-bar.right .clubs-section .card .details .titles-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.club-side-bar.right .clubs-section .card .details .titles-wrap .sub-title {
  color: #e7e7e7;
}
.club-side-bar.right .clubs-section .card .details .title {
  display: -webkit-box;
  max-width: 165px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.club-dashboard-side-bar .profile-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
.club-dashboard-side-bar .profile-section .image {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #2d2d2d;
  border-radius: 10px;
}
.club-dashboard-side-bar .profile-section .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.club-dashboard-side-bar .profile-section .details .name {
  font-weight: 600;
}
.club-dashboard-side-bar .profile-section .details .desc {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.875em;
  color: #e7e7e7;
}
.club-dashboard-side-bar.left .menu-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0;
  gap: 0;
}
.club-dashboard-side-bar.left .menu-section .cards {
  gap: 0;
}
.club-dashboard-side-bar.left .menu-section .title-wrap {
  border-top: 1px solid #2d2d2d;
  padding: 15px;
  padding-bottom: 0;
}
.club-dashboard-side-bar.left .menu-section .title-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border: 1px solid #2d2d2d;
  border-left: 0;
  border-right: 0;
}
.club-dashboard-side-bar.left .menu-section .title-card .club-logo {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #2d2d2d;
  border-radius: 8px;
}
.club-dashboard-side-bar.left .menu-section .title-card .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.club-dashboard-side-bar.left .menu-section .title-card .details .title {
  display: -webkit-box;
  max-width: 165px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.club-dashboard-side-bar.left .menu-section .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  gap: 10px;
}
.club-dashboard-side-bar.left .menu-section .menu .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px;
  border: 1px solid #2d2d2d;
  background-color: #161616;
  border-radius: 7px;
}
.club-dashboard-side-bar.left .menu-section .menu .item[data-active=true] {
  border-color: #69e4be;
}
.club-dashboard-side-bar.left .menu-section .menu .item .icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  color: #fff;
  background-color: #09090b;
  border-radius: 5px;
}
.club-dashboard-side-bar.left .menu-section .menu .item .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.club-dashboard-side-bar.left .menu-section .menu .item .details .title {
  display: -webkit-box;
  max-width: 165px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 1350px) {
  .club-dashboard-side-bar {
    display: none;
  }
}
.event-side-bar .profile-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.event-side-bar .profile-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
.event-side-bar .profile-details .image {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #2d2d2d;
  border-radius: 10px;
}
.event-side-bar .profile-details .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.event-side-bar .profile-details .details .name {
  font-weight: 600;
}
.event-side-bar .profile-details .details .desc {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.875em;
  color: #e7e7e7;
}
.event-side-bar.right .clubs-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0;
}
.event-side-bar.right .clubs-section .cards {
  gap: 0;
}
.event-side-bar.right .clubs-section .title-wrap {
  border-top: 1px solid #2d2d2d;
  padding: 15px;
  padding-bottom: 0;
}
.event-side-bar.right .clubs-section .title-wrap:first-child {
  padding-top: 0;
  border-top: 0;
}
.event-side-bar.right .clubs-section .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border: 1px solid #2d2d2d;
  border-left: 0;
  border-right: 0;
}
.event-side-bar.right .clubs-section .card .profile-image {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #2d2d2d;
  border-radius: 8px;
}
.event-side-bar.right .clubs-section .card .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.event-side-bar.right .clubs-section .card .details .titles-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.event-side-bar.right .clubs-section .card .details .titles-wrap .sub-title {
  color: #e7e7e7;
}
.event-side-bar.right .clubs-section .card .details .title {
  display: -webkit-box;
  max-width: 165px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.event-dashboard-side-bar .profile-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
.event-dashboard-side-bar .profile-section .image {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #2d2d2d;
  border-radius: 10px;
}
.event-dashboard-side-bar .profile-section .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.event-dashboard-side-bar .profile-section .details .name {
  font-weight: 600;
}
.event-dashboard-side-bar .profile-section .details .desc {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.875em;
  color: #e7e7e7;
}
.event-dashboard-side-bar.left .menu-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0;
  gap: 0;
}
.event-dashboard-side-bar.left .menu-section .cards {
  gap: 0;
}
.event-dashboard-side-bar.left .menu-section .title-wrap {
  border-top: 1px solid #2d2d2d;
  padding: 15px;
  padding-bottom: 0;
}
.event-dashboard-side-bar.left .menu-section .title-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border: 1px solid #2d2d2d;
  border-left: 0;
  border-right: 0;
}
.event-dashboard-side-bar.left .menu-section .title-card .club-logo {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #2d2d2d;
  border-radius: 8px;
}
.event-dashboard-side-bar.left .menu-section .title-card .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.event-dashboard-side-bar.left .menu-section .title-card .details .title {
  display: -webkit-box;
  max-width: 165px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.event-dashboard-side-bar.left .menu-section .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  gap: 10px;
}
.event-dashboard-side-bar.left .menu-section .menu .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px;
  border: 1px solid #2d2d2d;
  background-color: #161616;
  border-radius: 7px;
}
.event-dashboard-side-bar.left .menu-section .menu .item[data-active=true] {
  border-color: #69e4be;
}
.event-dashboard-side-bar.left .menu-section .menu .item .icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  color: #fff;
  background-color: #09090b;
  border-radius: 5px;
}
.event-dashboard-side-bar.left .menu-section .menu .item .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.event-dashboard-side-bar.left .menu-section .menu .item .details .title {
  display: -webkit-box;
  max-width: 165px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 1350px) {
  .event-dashboard-side-bar {
    display: none;
  }
}
.admin-dashboard-side-bar .profile-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
.admin-dashboard-side-bar .profile-section .image {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #2d2d2d;
  border-radius: 10px;
}
.admin-dashboard-side-bar .profile-section .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.admin-dashboard-side-bar .profile-section .details .name {
  font-weight: 600;
}
.admin-dashboard-side-bar .profile-section .details .desc {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.875em;
  color: #e7e7e7;
}
.admin-dashboard-side-bar.left .menu-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0;
  gap: 0;
}
.admin-dashboard-side-bar.left .menu-section .cards {
  gap: 0;
}
.admin-dashboard-side-bar.left .menu-section .title-wrap {
  border-top: 1px solid #2d2d2d;
  padding: 15px;
  padding-bottom: 0;
}
.admin-dashboard-side-bar.left .menu-section .title-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border: 1px solid #2d2d2d;
  border-left: 0;
  border-right: 0;
}
.admin-dashboard-side-bar.left .menu-section .title-card .logo {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #2d2d2d;
  border-radius: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
.admin-dashboard-side-bar.left .menu-section .title-card .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.admin-dashboard-side-bar.left .menu-section .title-card .details .title {
  display: -webkit-box;
  max-width: 165px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.admin-dashboard-side-bar.left .menu-section .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  gap: 10px;
}
.admin-dashboard-side-bar.left .menu-section .menu .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px;
  border: 1px solid #2d2d2d;
  background-color: #161616;
  border-radius: 7px;
}
.admin-dashboard-side-bar.left .menu-section .menu .item[data-active=true] {
  border-color: #69e4be;
}
.admin-dashboard-side-bar.left .menu-section .menu .item .icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  color: #fff;
  background-color: #09090b;
  border-radius: 5px;
}
.admin-dashboard-side-bar.left .menu-section .menu .item .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.admin-dashboard-side-bar.left .menu-section .menu .item .details .title {
  display: -webkit-box;
  max-width: 165px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}