@import '../../fonts';
@import '../../colors';

#profile-edit {
    .center-section {
        .content-section {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .form {
                padding-bottom: 20px;
                border-bottom: 1px solid $border;

                &:last-child {
                    border: none;
                }

                .image-upload {
                    max-width: 200px;
                    max-height: 200px;
                }

                .form-section {
                    border: none;
                }
            }

            .buttons-wrap {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .button {
                    max-width: fit-content;
                }
            }
        }
    }
}
