@import '../../colors';
@import '../../fonts';

#profile {
    gap: 0;

    .center-section {
        width: 100%;
        padding: 0;

        .cards {
            padding: 20px;
        }

        .gallery {
            padding: 20px;
            column-count: 3;
            column-gap: 1em;
            gap: 15px;

            @media screen and (max-width: 600px) {
                column-count: 2;
            }

            .card {
                position: relative;

                &.add-new {
                    border: 2px solid $border;
                    border-style: dashed;
                    width: 200%;
                    max-width: 190px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    border-radius: 5px;
                    min-height: 190px;
                }

                .overlay {
                    max-width: 190px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.7);
                    opacity: 0;
                    display: none;
                    transition: all 0.5s ease;

                    .icon-button {
                        background-color: rgba(255, 255, 255, 0.3);
                        cursor: pointer;
                    }

                    .icon {
                        color: #fff;
                    }
                }

                &:hover {
                    .overlay {
                        display: flex;
                        opacity: 1;
                    }
                }
            }

            .gallery-image {
                border-radius: 5px;
                width: 100%;
                max-width: 190px;
                max-height: 190px;
                object-fit: cover;
            }
        }

        .gallery-buttons {
            padding: 15px 5px 0px 5px;

            .gallery-button {
                border: 2px solid $border;
                border-style: dashed;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border-radius: 5px;
                height: 80px;
                gap: 5px;
            }
        }
    }
}
