#club-dashboard-election {
    .table-wrap {
        .status-button {
            cursor: default;

            &[data-status='PUBLISHED'] {
                color: $green;
                background-color: $green-light;
            }
            &[data-status='PENDING'] {
                color: $red-2;
                background-color: $red-2-light;
            }
        }
    }
}