#club-dashboard-members {
    .center-section {
        .action-buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 20px;

            .button {
                background-color: transparent;
                color: #fff;
                border: 1px solid $theme;
                max-width: fit-content;
            }

            .action-link {
                &[data-active='true'] {
                    .button {
                        background-color: $secondary_theme;
                        color: $dark;
                    }
                }
            }
        }
    }

    .table-wrap {
        .status-button {
            cursor: default;

            &[data-status='PROCESSING'] {
                color: $yellow;
                background-color: $yellow-light;
            }
            &[data-status='ACCEPTED'] {
                color: $green;
                background-color: $green-light;
            }
            &[data-status='REJECTED'] {
                color: $red-2;
                background-color: $red-2-light;
            }
        }
    }
}
