@import '../colors';
@import '../fonts';

.compact-calendar {
    width: 100%;
    background-color: $secondary_dark;
    font-size: $px14;
    border-radius: 8px;

    .top-bar {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .center {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            font-weight: 500;
        }

        .icon-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2px;
            background-color: $secondary_dark;
            border-radius: 7px;
            border: 1px solid $gray;
            cursor: pointer;

            span {
                font-size: 1em;
                color: $gray;
            }
        }
    }

    table,
    th,
    td {
        border-collapse: collapse;
    }

    .calendar-table {
        width: 100%;
        table-layout: fixed;

        th {
            color: $theme;
        }

        th,
        td {
            padding: 5px;
        }

        td {
            height: 40px;

            .td {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2px;

                .dot {
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: $green;
                }
            }
        }
    }
}
