@import '../colors';

$notification-size: 10px;
$nav-item-padding: 15px 0;

.nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $border;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: $dark;
    z-index: 12;

    &.bottom {
        top: auto;
        bottom: 0;
        display: none;
        z-index: 10;

        .container-sections {
            justify-content: center;
        }
    }

    .container-sections {
        justify-content: space-between;
        gap: 20px;

        .logo-section {
            display: flex;
            align-items: center;
            padding: $nav-item-padding;
        }

        .center-section {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            width: 100%;
            border: 0;
            padding-bottom: 0;
            padding-top: 0;
        }

        .notification-section {
            position: relative;
            display: flex;
            justify-content: flex-end;

            .notification-icon-wrap {
                padding: 0;

                .icon-wrap {
                    position: relative;
                    .active {
                        position: absolute;
                        width: $notification-size;
                        height: $notification-size;
                        background-color: $theme;
                        border-radius: 50%;
                        top: 0;
                        right: 0;
                    }
                }
            }

            .notification-list {
                display: none;
                flex-direction: column;
                position: absolute;
                top: 100%;
                margin-top: 5px;
                margin-right: 15px;
                right: 0px;
                width: 400px;
                min-height: 70px;
                background-color: $border;
                border-radius: 7px;
                box-shadow: 0 3px 5px rgba(255, 255, 255, 0.2);

                .notification-item {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    justify-content: center;
                    padding: 5px 10px;
                    min-height: 70px;
                    border-bottom: 1px solid #6a6a6a;
                    transition: all 0.4s ease;

                    &[data-unread='true'] {
                        background-color: rgba(255, 255, 255, 0.1);
                    }

                    .title {
                        font-weight: 600;
                    }

                    .description {
                        font-size: 14px;
                    }

                    .buttons {
                        display: none;
                        gap: 10px;
                        justify-content: flex-end;
                    }

                    &:last-child {
                        border-bottom-color: transparent;
                    }
                }
            }
        }
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
        max-width: 160px;
        width: 100%;
        padding: $nav-item-padding;

        &[data-active='true'] {
            color: $theme;
            border-bottom: 2px solid $theme;
        }

        @media screen and (max-width: 960px) {
            .text {
                display: none;
            }
        }
    }

    .menu-item {
        display: none;
        cursor: pointer;
        max-width: 100px;
        user-select: none;
    }

    @media screen and (max-width: 1350px) {
        .notification-item {
            display: none;
        }

        .menu-item {
            display: flex;
        }
    }

    @media screen and (max-width: 960px) {
        &.bottom {
            display: flex;
        }

        &:not(.bottom) {
            .container-sections {
                padding: 0 30px;

                .center-section {
                    display: none;
                }
            }
        }
    }
}

.side-menu {
    display: flex !important;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    height: 100vh;
    max-width: 350px;
    width: 100vw;
    right: 0;
    top: 0;
    background-color: $dark;
    padding-top: 125px;
    overflow-y: auto;
    transition: all 0.5s ease;
    transform: translateX(360px);
    z-index: 11;

    &[data-active='true'] {
        transform: translateX(0px);
    }

    .right-section {
        display: none;
    }

    @media screen and (max-width: 920px) {
        padding-bottom: 125px;

        .right-section {
            display: flex;
        }
    }
}
