$theme: #69e4be;
$secondary_theme: #94d1be;
$dark: #09090b;
$secondary_dark: #161616;
$border: #2d2d2d;
$gray: #a5a5a5;
$secondary_white: #e7e7e7;
$error: #e13434;
$red: #ff0000;
$red-matt: #ec3232;
$orange: #ff8800;
$yellow: #edff7d;
$yellow-light: #303021;
$green: #7dff7a;
$green-light: #213021;
$red-2: #ff4646;
$red-2-light: #392a2d;

/* font colors */
.cl-theme {
    color: $theme;
}
.cl-secondary-theme {
    color: $secondary_theme;
}
.cl-dark {
    color: $dark;
}
.cl-secondary-dark {
    color: $secondary_dark;
}
.cl-red {
    color: $red;
}
.cl-orange {
    color: $orange;
}
.cl-green {
    color: $green;
}

/* background colors */
.bg-theme {
    background-color: $theme;
}
.bg-secondary-theme {
    background-color: $secondary_theme;
}
.bg-dark {
    background-color: $dark;
}
.bg-secondary-dark {
    background-color: $secondary_dark;
}
.bg-red {
    background-color: $red;
}
