@import './colors.scss';
@import './fonts.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: $dark;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.container-sections {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1350px;
    width: 100%;
    padding: 0 50px;

    section {
        width: 100%;
        max-width: 325px;

        &.center-section {
            width: 100%;
            max-width: 560px;
        }
    }
}

.container {
    width: 100%;
}

.full-container {
    display: flex;
    min-height: 100vh;
}

.input-wrap {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    text-align: left;

    .input {
        display: flex;
        gap: 6px;
        width: 100%;
        border: 1px solid $border;
        padding: 0px 15px 0px 10px;
        border-radius: 8px;
        background-color: $secondary_dark;
        align-items: center;

        input {
            border: none;
            border-radius: 0;
            padding-left: 5px;
        }
    }

    label {
        color: #fff;
    }

    input {
        width: 100%;
        border: 1px solid $border;
        padding: 12px 15px;
        border-radius: 8px;
        background-color: $secondary_dark;
        outline: none;
        border: 1px solid $border;
        color: #fff;
    }
}

.button {
    text-transform: uppercase;
    color: $secondary_dark;
    background-color: $theme;
    outline: none;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    padding: 11px 30px;
    width: 100%;
    cursor: pointer;

    &.w-content {
        max-width: max-content;
    }
}

.multi-wrap {
    display: flex;
    gap: 14px;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}

.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    &.lines-2 {
        -webkit-line-clamp: 2;
    }
    &.lines-3 {
        -webkit-line-clamp: 3;
    }
}
