@import '../colors';
@import '../fonts';

#home {
    .center-section {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
}
