@import '../colors';
@import '../fonts';

.full-container {
    display: grid;
    grid-template-columns: 50% 50%;

    .section {
        padding: 20px;

        &.left {
            background-image: url('../../assets/images/login/side-image.png');
            background-position: left;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                width: 100%;
                max-width: 650px;

                .title {
                    font-weight: 600;
                    font-size: $px74;

                    @media screen and (max-width: 1000px) {
                        font-size: 3em;
                    }
                }

                .sub-title {
                    font-family: 'Lexend Peta', sans-serif;
                    font-weight: 600;
                }
            }
        }

        &.right {
            display: flex;
            justify-content: center;
            align-items: center;

            .form {
                max-width: 500px;
            }
        }
    }

    @media screen and (max-width: 770px) {
        display: flex;
        flex-direction: column;
        text-align: center;

        .section {
            min-height: 50vh;
        }
    }
}
