@import '../colors';
@import '../fonts';

#profile {
    gap: 0;

    .center-section {
        padding: 0;
        width: 100%;

        .cards {
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .card {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;
            background-color: $secondary_dark;
            border: 1px solid $border;
            padding: 20px;
            border-radius: 12px;

            .top {
                display: flex;
                gap: 15px;

                .club-logo {
                    width: 70px;
                    height: 70px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 8px;
                }

                .details {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .club-title {
                        font-size: $px20;
                        width: fit-content;
                    }

                    .other-details {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        color: $secondary_theme;

                        .dot {
                            width: 6px;
                            height: 6px;
                            background-color: $secondary_theme;
                            border-radius: 50%;
                        }
                    }
                }
            }

            .post-image {
                max-width: 560px;
                height: 560px;
                object-fit: cover;
                width: 100%;
                border-radius: 6px;
            }

            .description {
                font-size: $px14;
                color: $secondary_white;
            }
        }
    }
}
