#calendar-date {
    width: 100%;

    .center-section {
        width: 100%;
    }

    .top-bar {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .center {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            font-size: $px20;
            font-weight: 600;
        }

        .icon-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-color: $secondary_dark;
            border-radius: 7px;
            border: 2px solid $gray;
            cursor: pointer;

            span {
                color: $gray;
            }
        }
    }

    .calendar-content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        padding: 20px;

        .item {
            display: grid;
            grid-template-columns: 100px auto;

            .date-section {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 10px;
                border-right: 2px solid $secondary_theme;

                .date {
                    font-weight: 600;
                }
            }

            .content-section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 5px;
                padding: 20px;
                border-left: 2px solid $secondary_theme;

                .name {
                    color: $secondary_theme;
                    font-weight: 500;
                }

                .date {
                    font-size: small;
                    color: $gray;
                }
            }
        }
    }
}
