@import '../../colors';
@import '../../fonts';

.admin-dashboard {
    .buttons {
        display: flex;
        gap: 10px;
        width: fit-content;
    }
}

@import './dashboard/clubs';
@import './dashboard/events';
@import './dashboard/requests';
